<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="container-fluid">
      <div id="output"></div>
      <form>
        <textarea id="incoming"></textarea>
        <button type="submit">Submit</button>
      </form>

      <pre id="outgoing"></pre>
    </div>

    <script src="/js/bundle.js"></script>
  </body>
</html>
